In [ ]:
for i in range(0,10):
  if i==3:
    continue
  print(i)

0
1
2
4
5
6
7
8
9

In [ ]:
## break and continue only exit from the immediate loops

In [ ]:
for i in range(0,5):
  for j  in range(2,6):
    print(i,j)
    if j==3:
      break

0 2
0 3
1 2
1 3
2 2
2 3
3 2
3 3
4 2
4 3

In [ ]:
for i in range(0,5):
  for j in range(1,5):
    if j==3:
      continue
    print(i,j)

0 1
0 2
0 4
1 1
1 2
1 4
2 1
2 2
2 4
3 1
3 2
3 4
4 1
4 2
4 4

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    if i==3:
      continue
    else:
      print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
4 1
4 2
4 3
4 4

In [ ]:
row=5
for i in range(1,row+1):
  print(" "*(row-i)+i*"*")

    *
   **
  ***
 ****
*****

In [ ]:
for i in range(1,6):
  print(("*"*i).center(10," "))

    *
    **
   ***
   ****
  *****

In [ ]:
for i in range(1,6):
  print(" "*(6-i)+"*"*i)

     *
    **
   ***
  ****
 *****

In [ ]:
### binary pattern program

In [ ]:
0
10
010
1010
01010

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print((i+j)%2,end=" ")
  print()

0
1 0
0 1 0
1 0 1 0
0 1 0 1 0

In [ ]:
### Inverted number traingle

In [ ]:
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
row=7
for i in range(1,row):
  for j in range(1,row-i):
    print(j,end=" ")
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
### Checker board pattern

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    print((i+j)%2,end=" ")
  print()

0 1 0 1 0
1 0 1 0 1
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0